<div class="panel panel-default">
        <div class="panel-header">
            <%=image_tag notification.brand.logo.url(:thumb) %>
          </div>
          <div class="panel-body">
              <%if notification.image? %>
                  <%= image_tag notification.image %>
              <%end %>
                <h1><%= notification.title %></h1>
                <p>Posted by: <%= notification.brand.name %> @ <%= notification.created_at %></p>
                <p><%= notification.description.truncate_words(10) %></p>
                 <% if user_signed_in? %>
                    <% if current_user.voted_up_on? notification %>
                        <%= link_to raw('<span class="glyphicon glyphicon-heart"></span>'), unlike_notification_path(notification), method: :put%>
                    <% else%>
                        <%= link_to raw('<span class="glyphicon glyphicon-heart-empty"></span>'), like_notification_path(notification), method: :put%>
                    <% end%>
                <% end%>
                <%= link_to 'Lees meer', notification %>
        </div>
      </div>
