 <% current_user.all_following.each do |f|%>
   <%f.articles.each do |article|%>
          <div class="postbox panel panel-default">
            <div class="panel-header">
                <%= image_tag article.brand.logo.url(:thumb) %>
                </div>
                <div class="panel-body">
                  <%= image_tag article.image.url(:medium) %>
                <p><%= article.brand.name %> posted a new pic</p>
                <p><%= article.description %></p>
                <% if current_user.voted_up_on? article %>
                          <%= link_to raw('<span class="glyphicon glyphicon-heart"></span>'), unlike_article_path(article), method: :put%>
                      <% else%>
                          <%= link_to raw('<span class="glyphicon glyphicon-heart-empty"></span>'), like_article_path(article), method: :put%>
                      <% end%>

                    <span><%= article.get_upvotes.size%></span>
              </div>
            </div>
    <% end%>
  <% end%>
